.navbar{
background-color: rgb(121,166,210);


}
.navbar img{
    margin-left: -4px;
}
.nav-link{
color: rgb(45,89,134);
margin-right: 18px;
font-weight: bold;
font-family: 'IBM Plex Serif', serif;
font-size:23px;
}
.fixed-top{
    display: none;
}


.Portfolio{
    width: 100%;
    background-color:rgb(222,239,244);
    color:rgb(107,124,169);
    font-family: 'Roboto Slab', serif;
}
.HeaderSec{
    /* border: 1px black solid; */
     width: 100%;
     background-color:rgb(224,236,239);
     height: 680px;
     display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

.Header{
    /* border: 1px black solid; */
    width: 50%;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: rgb(45,89,134);
    box-sizing: border-box;
    margin-top: 130px; 
    padding-left: 70px; 
    padding-top: 35px;;
}
.Headerimage{
    /* border: 1px black solid; */
    width: 50%;
    height: 600px;
    padding-top: 20px;
    padding-left: 25px;
  margin-top: 47px;

}
.Headerimage:hover img{
   
    box-shadow: 10px 10px 10px 5px rgba(45,89,134, 0.5);
 

}
/* .quote{
    animation: animatation 3s ease-in;

}
@keyframes annimatation{
    0% {
        visibility: hidden;
        opacity: 0.1;
      }
      50% {
        visibility: visible;
        opacity: 0.5;
     
      }
      100% {
        visibility:visible;
        opacity: 1;
      } 
} */

.icon{
width: 200px;
height: 50px;
animation: annimat 2s ease-in;
}
.icon a{
color: rgb(45,89,134);;
}
@keyframes annimat{
    0% {
        visibility: hidden;
        opacity: 0.1;
        transform: scale(0.7);
      }
      100% {
        visibility: visible;
        transform: scale(1.2);
      }
}



.Headerofeduction{
    margin-top: 30px;
    margin-left: 46px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    padding-left: 4px;
    color: rgb(45,89,134);
    font-size: 40px;
width: 250px;
height:55px;
background-color: rgb(247,253,255);
border-radius: 15px;
}
.education{
    /* border: 1px black solid; */
    width: 100%;
display: flex;
flex-direction: row;
height: 550px;
margin-top:16px;
padding-top: 40px;
}
.Yarmouk{
    /* border: 1px black solid; */
    font-family: 'Roboto Slab', serif;
    width: 50%;
    /* height: 560px ; */
    color:rgb(107,124,169);

}
.Hajawiphoto{
    /* border: 1px black solid; */
    width: 50%;
/* height: 560px ; */
padding-top: 35px;
padding-left:70px;
}
.Firstedu{ color:rgb(107,124,169);
    margin-left: 50px;
    font-size: 25px;
}

.Yarmoukdetails{
    padding-top:15px;
padding-left:70px;
font-size: 21px;
}
.Hajawiphoto:hover img{transition: transform 3s;
transform: rotate3d(-1.2,-1.2,-1.2,360deg);

}




.Headerofskills{
    /* margin-top: 10px; */
    margin-left: 46px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    padding-left: 4px;
    color: rgb(45,89,134);
    font-size: 40px;
width: 170px;
height:55px;
background-color: rgb(247,253,255);
border-radius: 15px;
}
.skills{background-image:url(./image/image_png__3_-removebg-preview.png);
    /* background-repeat: no-repeat; */

    background-size: 400px 400px;
    background-position: 300px ;
    /* border: 1px black solid; */
    width:100% ;
    height: 540px;
display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 60px; 
padding-left: 20px;
}
.softskills{
    /* border: 1px black solid; */
    text-align: center;
    width: 40%;
    height: 390px;

border-radius: 85px;
 display: flex;
flex-direction: column;
align-items: center;
font-size: 20px;
/* padding-top: 10px; */
color:rgb(107,124,169);
font-family: 'Roboto Slab', serif;
/* transition:transform 1s ease-in; */
transition-delay: 2s;
}
.softskills:hover h4 {
transform: scale(1.5);



}
.softskills:hover .list-item {
    transform: scale(1.2);
    
    
    
    }
.Technicalskills{
    /* border: 1px black solid; */
width: 40%;
height: 390px;
border-radius: 85px;
display: flex;
flex-direction: column;
align-items: center;
padding-left: 100px;
font-size: 20px;
/* padding-top: 10px; */
color:rgb(107,124,169);
font-family: 'Roboto Slab', serif;

}
.Technicalskills:hover h4 {
    transform: scale(1.5);
    
    
    
    }
    .Technicalskills:hover .list-item {
        transform: scale(1.2);
        
        
        
        }
h4{padding-top: 15px;
    padding-right: 4px;
    text-align: center;
    color:rgb(107,124,169);
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
     transition: transform 2s ease-in;
}
.list-item{
    padding-top: 6px;
    transition: transform 2s ease-in;
}
.Headerofcertificate{
    margin-top: 10px;
    margin-left: 46px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    padding-left: 4px;
    color: rgb(45,89,134);
    font-size: 40px;
width: 250px;
height:55px;
background-color: rgb(247,253,255);
border-radius: 15px;
}

.certificate{
    /* border: 1px solid black; */
    width: 100%;
    height: 600px;
    margin-top: 14px;
    box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}
.JuGate{
    /* border: 1px solid black; */
background-color: rgb(247,253,255);
display: flex;
width: 86%;
height: 250px;
flex-direction: row;
border-radius: 60px;
}
.CodingAcademy{
    /* border: 1px solid black; */
    background-color: rgb(247,253,255);
    border-radius: 60px;
    width: 86%;
    height: 250px;
    display: flex;
    flex-direction: row;
border-radius: 60px;
margin-left: 43px;
} 
.thecert{ 
    margin-top: 10px;
    margin-left: 50px;
    font-size: 26px;
}
.photoofcert{
    /* border: 1px solid black; */
width:30% ;
padding-left: 20px;
}
.photoofcert:hover img{

    transform: scale(1.2);
        
    }
#orange{padding-top: 27px;}
.para{
    /* border: 1px solid black; */
width:70%;
}
.paragofcert{

font-size: 20px;
padding-left: 70px;


}
.lang2{
/* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
width: 100%;
height: 250px;
}

.Headeroflang{width: 20%;
    /* border: 1px black solid; */
    margin-top: 90px;
    margin-left: 46px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    padding-left: 4px;
    color: rgb(45,89,134);
    font-size: 40px;
width:270px;
height:55px;
background-color: rgb(247,253,255);
border-radius: 15px;
}
.Language{
    width: 80%;
    /* border: 1px black solid; */
   height: 170px;
   /* padding-left: 400px; */
    margin-top: 50px;
    margin-left: 35px;
    margin-bottom: 70px;
font-size: 37px;
}

.Headerofexperience{
margin-top: 30px;
margin-left: 46px;
margin-bottom: 5px;
font-family: 'Roboto Slab', serif;
font-style: italic;
padding-left: 4px;
color: rgb(45,89,134);
font-size: 40px;
width: 300px;
height:58px;
background-color: rgb(247,253,255);
border-radius: 15px;
}   

.experience{
    /* border: 1px solid black; */
    width: 100%;
    height: 750px;
    margin-top: 14px;
    box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.Orange{
    /* border: 1px solid black; */
    
    display: flex;
    width: 88%;
    height: 300px;
    flex-direction: row;
    border-radius: 60px;
    }
    .Extensya{
        /* border: 1px solid black; */
        

        border-radius: 60px;
        width: 88%;
        height: 380px;
        display: flex;
        flex-direction: row;
    border-radius: 60px;
  
    } 
.photoofexp1{

    padding-left:80px;
    width:60%;
     height: 240px;
}
    .theexp{ 
        margin-top: 10px;
        margin-left: 50px;
        font-size: 24px;
    }
    .photoofexp{
        /* border: 1px solid black; */
  
    width:50% ;
    padding-top: 20px;
    }

    .parag{
        /* border: 1px solid black; */
    width:50%;
    }
    .paragofexp{
    font-size: 20px;
    padding-left: 83px;
    
    }
.photoextensya{padding-left:60px;
padding-top: 26px;
width: 70%;
height: 320px;

}
.Headerofreferance{
    margin-top: 20px;
    margin-left: 46px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    padding-left: 4px;
    color: rgb(45,89,134);
    font-size: 40px;
    width: 250px;
    height:58px;
    background-color: rgb(247,253,255);
    border-radius: 15px;


}
.referance{
font-size: 24px;
padding-top: 20px;
padding-left: 65px;
padding-bottom: 20px;

}
.footer{
   
    background-color: rgb(121,166,210);
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 310px;
    color: rgb(45,89,134);
    font-family: 'Roboto Slab', serif;
}
.foot1{width: 33%;
padding-left:30px ;
font-size: 21px;

}
.foot1 a{
    color: rgb(45,89,134);
}
.logoinfooter{

    margin-left: 52px;
}
.foot2{text-align: center;
    padding-top: 30px;

    width: 33%;
}
.link{
font-size: 35px;
font-family: 'Roboto Slab', serif;
}
.link1{margin-top: 15px;
font-size: 21px;

}
.foot3{ padding-top: 30px;
    
    width: 35%; 
    text-align: center;
}
.foot3 input[type="text"],
.foot3 input[type="password"] {
 
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
}
form{
    margin-top: 30px;
}
button{background-color: #e0e9f3;
    font-family: 'Roboto Slab', serif;
    color: rgb(45,89,134);
    width: 80px;
    height: 30px;
}

@media screen and (max-width: 480px){

    .Portfolio{
        background-color:white;
        width: 100%;
      
      
    }
    #Hello{

        display: none;
    }
.fixed-top{width: 100%;
    display: block;
    background-color: rgb(121,166,210);

}
.Headerofeduction , .Headerofcertificate , .Headerofreferance , .Headerofexperience , .Headeroflang , .Headerofskills{
    background-color:rgb(121,166,210);
}
.HeaderSec{ 
    width: 150%;
    display: flex;
    flex-direction: column; 
    /* justify-content: space-between; */
    flex-wrap: wrap;
    height: 1020px;
    box-sizing: border-box;
    

}
.Headerimage{
width: 100%;
height: 400px;
/* padding-bottom: 40px;
margin-bottom: 100px; */

}
.Headerimage img{
width: 75%;
height: 380px;
margin-left: 80px;
align-items: center;
}
.Header{
margin-top: 60px;
width: 100%;
height: 400px;
font-size: 27px;
padding-top: 80px;
padding-left: 40px;


}
/* .navbar a{
    margin-left: 1px;
} */
.icon{
margin-left: 5px;
}

.education{
    width: 120%;
    display: flex;
    flex-direction: column;
    height: 970px;
   
}
.Yarmouk{
width: 120%;
height: 460px;

}
.Firstedu{
    font-size: 30px;
}
.Yarmoukdetails{
    font-size: 25px;
    margin-left: 5px;
}
.Hajawiphoto{
  
    width: 120%;
    height: 500px;
}

.nav-link{margin-right: 1px;}

.skills{width: 120%;
   background-image: none;
    display: flex;
    flex-direction: column;
 margin-left: 80px;
    justify-content: space-evenly;
    height:980px;
    
}
.softskills{border: 2px solid rgb(121,166,210);
height: 450px;
    width: 95%;
    font-size: 28px;
    margin-bottom: 30px;
}
.Technicalskills{border: 2px solid rgb(121,166,210);
padding-left: 1px;
    width: 95%;
    height: 450px;
    font-size: 28px;
 
}
h4{
    font-size: 34px;
}
.Headerofcertificate{
margin-top: 40px;

}
.certificate{height: 600px;
    /* border: 1px solid black; */
    width: 150%;
    height: 800PX;
    /* padding-bottom: 110px; */
    padding-bottom: 70px;
   
}
.JuGate{background-color: white;
    /* border: 1px solid black; */
height: 240px;
display: flex;
flex-direction: column;
height: 350px;
margin-right: 40px;

}

.CodingAcademy{background-color: white;
    /* border: 1px solid black; */
    height: 240px;
    display: flex;
    /* margin-top: 50px; */
    flex-direction: column;
    margin-right: 65px;
    height: 350px;

}

.photoofcert{
/* border: 1px solid black; */
width: 70%;
margin-left: 90px;
/* margin-left: 90px; */

}


.paragofcert{

    display: none;
}
.thecert{
    font-size: 29px;
}
#orange{
    width: 89%;
}
.Headeroflang{
    margin-top: 50px;
}
.lang2{
width: 150%;
    display: flex;
    flex-direction: column;
    height: 
    350px;
}
.experience{
width: 150%;
height: 1450px;


}
.Orange{width: 100%;

    height: 700px;
    display: flex;
    flex-direction: column;
    margin-right: 28px;
}

.Extensya{width: 100%;
  
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.parag{
    
    height: 320px;
    width: 100%;
   

}
.paragofexp{
    font-size: 25px;
}
.photoofexp{

    height: 300px;
    width: 100%;
    padding-left:80px ;
/* padding-bottom: 40px; */
}
.photoextensya{
width: 70%;
height: 300px;
margin-top: 15px;


}
.photoofexp1{width: 70%;
    height: 300px;
    margin: 1px;

}
.referance{
    width: 150%;
    font-size: 30px;


}
.footer{
width: 150%;
display: flex;
flex-direction: column;
height: 900px;

}
.foot1{
    border: 1px rgb(45,89,134) solid;
    height: 300px;
    width: 100%;
    text-align: center;
}
.foot2{
    border: 1px rgb(45,89,134) solid;
    height: 300px;
    width: 100%;
}
.foot3{
    border: 1px rgb(45,89,134) solid;
    height: 300px;
    width: 100%;

}
.logoinfooter{
   margin-right: 40px;
}



}
@media screen and (max-width: 325px){
    .HeaderSec{
        width: 170%;
    }
    .education{
        width: 150%;
height: 850px;
    }
    .Yarmoukdetails{
        font-size:22px;
    }
    .Yarmouk{font-size: 30px;width: 100%;}




.Hajawiphoto{
    width: 90%;
    height: 300px;
    margin-bottom: 100px; 
}
.educationimage{
    height: 300px;

}
.Language{
    width: 100%;
}

.experience{
    width: 150%;
    height: 1400px;
    
    
    }
    
.Extensya,.Orange{width: 100%;
  
    height: 700px;
   
 
}
.parag{
    
    height: 230px;
    width: 100%;
   

}
.paragofexp{
    font-size: 20px;
}
.theexp{width: 100%;
font-size: 28px;

}
.photoofexp{

    height: 300px;
    width: 100%;
   padding-right: 50px;

}
.photoextensya{
width: 100%;
height: 300px;



}

.photoofexp1{width: 100%;
    height: 300px;
    

}
.photoofexp{
    margin-top: 100px;
   
}
.softskills,.Technicalskills{
    font-size: 27px;
  
}
.certificate{
   
}
.thecert{width: 100%;
    font-size: 28px;
}
.referance{
    font-size:22px;
}
.footer{
    width: 170%;
}

}
@media screen and ((min-width: 481px) and (max-width: 768px)){
.nav-link{
    font-size: 17px;
    margin-right: 3px;
}
.Header{

    font-size: 20px;
}
.Yarmoukdetails{
    font-size: 17px;


}
.educationimage{
height: 270px;
width: 90%;

}

.paragofcert{

    font-size: 17px;

}

#orange{
    width: 89%;
}
.JuGate, .CodingAcademy{
    padding-top: 25px;
}
.experience , .Orange ,.Extensya{

width: 100%;
/* height: 750px; */

}
.theexp{
    font-size:22px;
}
.paragofexp{
    font-size: 17px;
}
.parag{
width: 60%;
}
.logoinfooter{
      
    margin-right: 35px;

 
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 900px;
    
    }
    .foot1{
        border: 1px rgb(45,89,134) solid;
        height:300px;
        width: 100%;
        text-align: center;
    }
    .foot2{
        border: 1px rgb(45,89,134) solid;
        height:300px;
        width: 100%;
    }
    .foot3{
        border: 1px rgb(45,89,134) solid;
        height: 300px;
        width: 100%;
    
    }

.photoofexp{
width: 40%;

.photoofexp1{
  
    width: 100%;
    padding-left: 1px;


}
.photoextensya{padding-left: 1px;
    width: 100%;
height: 260px;
}


}



@media screen and ((min-width: 769px) and (max-width: 1024px)) {
    .Header{
       font-size: 22px;
    }
.Technicalskills{
padding-left: 40px;
}
.softskills{

    padding-left: 178px;
}
.photoofexp{
    /* border: 1px solid black; */

width:40% ;
padding-top: 20px;
}

.parag{
    /* border: 1px solid black; */
width:60%;
}
.photoofexp1{
width:70%;
padding-left: 2px;
margin-left: 32px;

}
.photoextensya{
width:90%;

padding-left: 20px;
    }
}
}